
.darkInput {
    background: var(--lighterBackgroundColor);
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    justify-content: space-between;
    padding: 0;
    height: 100vh;

}

label {
    white-space: nowrap;
}

.optionsMenu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.main {
    background: var(--foregroundColor);

    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    border-radius: 1rem;
    margin-top: 3rem;
    padding-bottom: 3rem;

    transition: margin-top .25s ease-in-out;

    width: 60vw;
}

.main input {
    background: var(--backgroundColor) !important;
    height: 2rem;
}

.main header {
    background: grey;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: calc(100% - 8rem);
    padding: 2rem 4rem;
    margin-bottom: 1rem;
    border-radius: 1rem 1rem 0 0;
}

.actionButtonGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    padding: .8rem 0;
}

.createKvittoButton {
    text-transform: uppercase;
    
    width: max-content;
    height: 7rem;
    padding: 1rem;
}

.removeInfoButton {
    background: var(--removeButtonColor);
}

.removeInfoButton:hover {
    background: var(--removeButtonHoverColor);
}

.infoDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.infoDiv div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;
}





.itemPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 80%;
}


.itemsPreviewHeader, .item, .boughtItems>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid var(--borderColor);
}


.itemPreview .emptyButton {
    background: darkred;
}


.itemsPreviewHeader>*, .item>*, .boughtItems>div>* {
    flex: 1;
    width: auto;
    text-align: left;
}

.itemsPreviewHeader>h2:first-child, .item>p:first-child {
    flex: 2;
    margin-right: 2rem;
}

.boughtItems>div>*:first-child {
    flex: 2;
    margin-right: 3rem;
}

.boughtItems>div>*:last-child{
    text-align: right;
}

.itemPreview h2 {
    width: min-content;
}


.removeButton {
    background: var(--removeButtonColor);
    color: var(--buttonTextColor);

    display: flex;
    flex-direction: row;

    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}

.removeButton:hover {
    background: var(--removeButtonHoverColor);
}

.removeButton img, .emptyButton img{
    filter: invert(1);
    margin-right: .5rem;
}



.addItemDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

    width: 80%;
}

.addItemDiv>* {
    width: 20%;
}

.addItemDiv input {
    background: var(--backgroundColor);

    display: flex;
    justify-content: center;
}


.addItemDiv button {
    background: var(--buttonColor);
    color: var(--buttonTextColor);

    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}




.kvitto {
    background: var(--backgroundColor);

    width: 80vw;
    padding: 1rem;
    margin-top: 5rem;
}


header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--borderColor);
    margin-bottom: 0;
}

.kvitto header h1 {
    text-align: center;
}

.boughtItemsHeader h3 {
    margin-bottom: 0;
}

.total {
    margin-top: 1rem;
    text-align: end;
}


.kvittoFooter {
    display: flex;
    flex-direction: column;

    margin-top: 4rem;
}

.kvittoFooter>* {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;

    width: 100%;
    padding: .5rem 0;
    border-bottom: 1px dashed var(--borderColor);
}

.kvittoFooter>*:first-child {
    border-top: 1px dashed var(--borderColor);
}



.signatureSection {
    background: navy;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;

    width: 100%;
}

.signatureSection>* {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 4rem;

    width: 40%;
}

.signatureSection .explanationText {
    padding-top: .4rem;

    border-top: var(--borderColor) 1px solid;
}




@media screen and (max-width: 1200px) {
    .main {
        margin-top: 8rem;
        transition: margin-top .25s ease-in-out;
    }
    
}

@media screen {
    .receipts {
        display: none;
    }

}

@media print {
    .main, .optionsMenu, .pageFooter {
        display: none;
    }

    .receipts {
        --backgroundColor: None;
        --lighterBackgroundColor: white;
        --buttonColor: white;
        --buttonTextColor: black;
        --buttonHoverColor: white;
        --borderColor: #000;
        
        color: #000 !important;
        font-family: Helvetica, sans-serif !important;
    }
    p {color: #000 !important;}

  
}